/* ----------------------------------------------------------
Global Variables
---------------------------------------------------------- */

:root {
  --cyan: hsl(185, 75%, 39%);
  --dark_blue: hsl(229, 23%, 23%);
  --gray_blue: hsl(227, 10%, 46%);
  --dark_gray: hsl(0, 0%, 59%);
  --white: #fff;
  --font_size: 18px;
  --font_family: "Kumbh Sans", sans-serif;
}

/* ----------------------------------------------------------
Global Styling
---------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font_family);
  font-size: var(--font_size);
  background-color: var(--cyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: -140vw -70vh, 30vw 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------------------------
Card Styling
---------------------------------------------------------- */

.card {
  width: 20rem;
  height: 24rem;
  background: var(--white);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 9rem 15rem;
}

.top {
  background: url(./images/bg-pattern-card.svg) no-repeat center/cover;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.top img {
  border-radius: 50%;
  border: 5px solid var(--white);
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translate(-50%);
}

.bottom-text {
  margin: 5rem 0 1rem 0;
}

.bottom-text p {
  text-align: center;
  font-weight: 700;
  color: var(--dark_blue);
}

.bottom-text span {
  font-weight: 400;
  color: var(--dark_gray);
}

.bottom-text .age {
  color: var(--gray_blue);
}

.bottom-text .city {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.underline {
  width: 100%;
  height: 1.5px;
  background: var(--dark_gray);
  opacity: 0.1;
  margin-top: 1.5rem;
}

.stats {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: var(--dark_blue);
}

.stats-span {
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 0.3rem;
}

/* ----------------------------------------------------------
Media Query
---------------------------------------------------------- */

@media screen and (min-width: 1440px) {
  body {
    background-position: -20vw -75vh, 47vw 50vh;
  }
}
